html {
    font-family: Roboto;
    font-size: 16px;
}
.about-work {
    background-color: hsl(240, 2%, 88%);
    min-height: 100vh;
    text-align: center;
}
div {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 100px 0;
}
.work_title {
    color:hsl(0, 0%, 0%) ;
    font-size: 2rem;
    line-height: 37px;
    font-weight: 500;
}
.work-description {
    color: hsl(0, 0%, 45%);
    font-size: 1rem;
    margin: 50px auto;
    max-width: 540px;
}
.work-video {
    width: 100%;
    height: 600px;
}
.work-video iframe {
    width: 100%;
    height: 100%;
}

