body {background: hsl(240, 2%, 88%);}
h1 {font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: hsl(0, 0%, 0%);
    position: absolute;
    width: 403px;
    height: 30px;
    left: 758px;
    top: 2062px;
    margin: 40px;}
p   {position: absolute;
    width: 540px;
    height: 67px;
    left: 690px;
    top: 2142px;
    margin: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: hsl(0, 0%, 45%);}
iframe {position: absolute;
    width: 1110px;
    height: 600px;
    left: 405px;
    top: 2266px;
    margin: 40px;}

    
 